 body { margin:0; padding:0; }
  #header { position:absolute; top:0; bottom:0; width:100%; height: 50px;background-color:#e3e3e3;text-align: center;} 
  #map { position:absolute; top:50px; bottom:0; width:100%; }
  #footer { position:absolute;  right:5px;bottom:10px; width:100%; height: 10px;text-align: center;} 
  #logo { position:absolute;  left:15px;bottom:20px; width:150px; height: 210px;text-align: center;} 
  
  #back { 
	left: 70px;
	top: 70px;
	position: fixed;
	z-index: 99;}

	#title { 
	
	margin-top: 10px;
	font-size: 30px;
	font-weight: bolder;
	
	z-index: 99;}

	#foot_left{
		position: absolute;
		top: 0;
		left: 0;
	}
	#foot_right{
		position: absolute;
		top: 0;
		right: 0;
	}
	
.story-main-space {

    background-color: #e3e3e3;
    color: white;
    margin: 70px auto 20px;
    height: 200px;
    padding: 20px;
    width: 60%;
}



.story-main-details h1 {
	text-decoration: none;
	font-size: 30px;
	line-height: 44px;
    color:black;
    text-decoration: none;
    
}


.story-main-details a {
	text-decoration: none;
	display:inline; 
	

}